.theadTable {
    color: #ffffff;
    background: #6c7ae0;
}

.cell {
    font-size: 18px;
    color: #fff;
    padding-top: 19px;
    padding-bottom: 19px;
}

.wrap-table {
    border-radius: 5px;
    border: 1px solid #8080804f;
}

tr:hover td{
    background-color: #ececff;
    cursor: pointer;
}

td {
    font-size: 15px;
    color: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.lines-style {
    color: rgb(146, 141, 187);
    font-size: 30px;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.lines-style:before,
.lines-style:after {
    content: '';
    border-top: 2px solid;
}

.rowSelected {
    background: #ececff;
}

.scrollTable {
    max-height: 500px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 8px 40px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #b43d0d;
    ;
}

.cropContainerImage {
    height: 400px;
    width: 100%;
    position: relative;
    background: rgb(146, 142, 142);
}
