.map iframe {
    width: 100%;
    border: 1px solid #cbcbcb;
    box-shadow: 0 5px 15px -5px #00000070;
}

.box-info {
    box-shadow: 0 5px 15px -5px #00000070;
}

.icon-contact {
    transition: .2s;
}

.icon-contact-wp {
    color: rgb(37, 211, 102);
}

.icon-contact-f {
    color: rgb(46, 64, 110);
}

.icon-contact-i {
    color: #ff7f10;
}

.icon-contact:hover {
    color: blue;
}

.descriptonLocal p{
    color: black;
    font-size: 20px;
}